:root {
    --skin: #F9F9F9;
    --brand-color: #0972BB;
    --label: #374151;
}

#root {
    background: #F9F9F9;
    min-height: 100vh;
}

.pageContent {
    width: calc(100% - 300px);
    margin-left: auto;
    transition: all ease .6s;
}

.input-field {
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    min-width: 100%;
}

label {
    color: var(--label);
    font-weight: 500;
    font-size: 14px;
}

.paragraph {
    color: #4B5563;
    font-size: 14px;
}

.sidebar-ul {
    padding-top: 1rem;

}

.sidebar-ul li {
    list-style: none;
    padding: 0.5rem;
}

/* header */
.header {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
table tr th,
table tr td{
    padding: 1rem;
border-bottom: 1px solid #E5E7EB;

}
table tr th{
background-color: #F9FAFB;

}
table{
    border: 1px solid #E5E7EB;
}